{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display+SC:wght@700&family=Quicksand&family=Roboto+Condensed:wght@300&family=Roboto+Mono&family=Roboto+Slab:wght@600&family=Xanh+Mono&display=swap" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="stylesheet" href="{% static 'login.css' %}">
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
/>
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  
<div class="navbar navbar-expand-lg  navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a href="" class="navbar-brand">Polls App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active p-2 m-2" aria-current="page" href="../home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active p-2 m-2" aria-current="page" href="../profile">View Polls</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active p-2 m-2" aria-current="page" href="../create">Create</a>
                </li>
            </ul>
            <a href="/newpoll/login" class="login-link">
                <button class="btn btn-outline-light px-4 m-2">Login</button>
            </a>
        </div>
    </div>
</div>

<form action="/newpoll/register/" method="post">
    {%csrf_token%}
    <div class="content">
        <div class="main shadow">
            <div class="heading">
                Sign Up
            </div>
            <div class="user">
                <div class="icon">
                    <i class='fas fa-user-alt'></i>
                </div>
                <input type="text" class="username" name="username" placeholder="Username">
            </div>
            <div class="user">
                <div class="icon">
                    <i class='fas fa-at'></i>
                </div>
                <input type="text" class="email-user" name="email" placeholder="Email">
            </div>
            <div class="user">
                <div class="icon">
                    <i class='fas fa-lock'></i>
                </div>
                <input type="text" class="user-password" name="password" placeholder="Password">
            </div>
            <div class="buttons">
                <button class="btn btn-outline-success" type="submit">
                    Sign Up
                </button>
                <a href="/newpoll/login" class="link">
                    <div class="btn btn-success">
                        Login
                    </div>
                </a>
            </div>
        </div>
    </div>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<footer class="footer">
    <hr width="80%" style="margin: 1% auto;" />
    <div class="footerlasr">
      <div class="footer-copyright">
        <p id="credits">Made with <i class="fa fa-heart" aria-hidden="true"></i> by DD</p>
      </div>
    </footer>
    <footer class="beech">
      <p>© Polls App</p>
  </footer>